html, body{
    overflow:auto;
}

.clearfix::after{   
    content: '';
    clear:both;
}

.name{
    background: #4aaaa5;
    color: #fff;
    float:left;
    margin-left: 200px;
    padding-left: 20px;
    padding-right: 20px;
    height: 77px;
}
nav{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
    size: 18pt;
    margin-right: 250px;
    float:right;
}

header{
    background: #fff;
    border-bottom: solid;
    border-bottom-width: 100%;
    border-color: #cccccc;
    height: 77px;

}
.About{
    float: left;
    margin-left: 50px;
    padding-top: 30px;
}
.Portfolio{
    float: left;
    margin-left: 50px;
    padding-top: 30px;
}
.contact{
    float: left;
    margin-left: 50px;
    padding-top: 30px;
}
a:link{
    font-family:  'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
    text-decoration: none;  
}
a:hover, a:active{
    color:#ffce6e;
}
a:visited{
    color:#4aaaa5;
}
h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
}
body{
    background: #dddddd;
    /* background: url(fishnets-and-hearts.png); */
}
section{
    background: #fff;
    color: #4aaaa5;
    border-bottom: solid;
    border-bottom-color: #dddddd; 
    
}
main{
    font-family:  'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    width: 960px;
    height: 100%;
    background: #ffffff;
    padding:10px 50px 50px 50px;
    border-bottom: solid;
    border-color: #dddddd;
    margin: 50px 200px 100px 200px;
    margin-bottom: -20px;
}
main::after{
    content: "";
    display: table;
    clear: both;
}
article{
    padding-top:20px;
    text-align: justify;
    line-height: 25px;
}
img{
    width: 200px;
    height: 200px;
    float: left;
    padding:20px 20px 10px 0px;  
}
footer{
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    background: #666666;
    color: #fff; 
    border-top: solid 8px;
    border-top-color: #4aaaa5;
    margin-top: 50px;
    height: 20px;
}
.push{
    height: 20px;
}
/* <!----------PORTFOLIO----------------> */
.box-set{
 width: 500px;
}

.wrap1{
    float:left;
    position: relative;
}
.Hangman{
    position: absolute;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 200px;
    margin-top: 175px;
    padding: 10px 0px 10px 0px;
}
.wrap2{
    position: relative;
    float:left;

}
.rpg{
    position: absolute;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 200px;
    margin-top: 175px;
    padding: 10px 0px 10px 0px;
}
.wrap3{
    position: relative;
    float: left;
}
.trivia{
    position: absolute;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 200px;
    margin-top: 175px;
    padding: 10px 0px 10px 0px;
}
.wrap4{
    position: relative;
    float:left;
}
.rutgers{
    position: absolute;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 200px;
    margin-top: 175px;
    padding: 10px 0px 10px 0px;
}
.wrap5{
    position: relative;
    float:left;
}
.rock{
    position: absolute;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 200px;
    margin-top: 175px;
    padding: 10px 0px 10px 0px;
}

/* <!-----------CONTACT---------------> */

form{
    padding-top: 50px;
}
.name1{
    width:100px;
}
#name{
    width:960px;
    padding:5px;
}
.mail{
    margin-top:20px;
    width: 100px;
}
#mail{
    width:960px;
    padding:5px;
}
.message{
    width:100px;
    margin-top:20px;
}
#msg{
    width:960px;
    height:200px;
    padding:5px;
}
button{
    
    padding:5px 20px 5px 20px;
    border:none;
    margin-top:20px;
    color: #fff;
    background-color: #4aaaa5;
   

}