/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideDown {
  from {
    margin-top: 0;
  }
} */

h1, h3,
.brand-logo,
nav li,
footer {
  font-family: "Gruppo", cursive;
  line-height: 54px;
}
#index {
  animation-duration: 3s;
  animation-name: slideDown;
  animation-timing-function: ease-in-out;
}
.nav-wrapper {
  width: 70%;
  margin: 0 auto;
}
a {
  color: #00bfa5;
}
#myPic {

  height: 250px;
}
#wrapper1 {
  position: relative;
  padding: 10px;
}

#about {
  position: absolute;
  text-align: center;
  font-size: 36px;
  color: #fff3e0;
  font-family: "Source Code Pro", monospace;
  text-shadow: 2px 2px #004d40;
  width: 100%;
  margin-top: 37%;
  margin-left: auto;
  margin-right: auto;
}
#wrapper2 {
  position: relative;
  padding: 10px;
}

#portfolio {
  position: absolute;
  text-align: center;
  font-size: 36px;
  color: #fff3e0;
  font-family: "Source Code Pro", monospace;
  text-shadow: 2px 2px #004d40;
  width: 100%;
  margin-top: 37%;
  margin-left: auto;
  margin-right: auto;
}
#wrapper3 {
  position: relative;
  padding: 10px;
}

#contact {
  position: absolute;
  text-align: center;
  font-size: 36px;
  color: #fff3e0;
  font-family: "Source Code Pro", monospace;
  text-shadow: 2px 2px #004d40;
  width: 100%;
  margin-top: 37%;
  margin-left: auto;
  margin-right: auto;
}
img{
  border: solid;
  border-color:#00bfa5;
  border-radius: 20px;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


main {
  flex: 1 0 auto;
  padding-bottom: 50px;
}
/* -----------ABOUT ME--------------------- */
li,
p,
article {
  font-family: "Catamaran", sans-serif;
  font-size: 14pt;
  text-align: justify;
  text-justify: inter-word;
}
li {
  margin-bottom: 10px;
}
/* <!----------PORTFOLIO----------------> */

.card-panel {
  padding: 20px;
}
#space {
  position: relative;
}

.space {
  position: absolute;
  text-align: center;
  font-size: 36px;
  color: #fff3e0;
  font-family: "Source Code Pro", monospace;
  text-shadow: 2px 2px #004d40;
  width: 100%;
  margin-top: 37%;
  margin-left: auto;
  margin-right: auto;
}
#swiftly{
  position: relative;
}

.swiftly{
  position: absolute;
  text-align: center;
  font-size: 36px;
  color: #fff3e0;
  font-family: "Source Code Pro", monospace;
  text-shadow: 2px 2px #004d40;
  width: 100%;
  margin-top: 37%;
  margin-left: auto;
  margin-right: auto;
}
#collector {
  position: relative;
  width: 80%;
  margin: auto;
}

.collector {
  position: absolute;
  text-align: center;
  font-size: 36px;
  font-family: "Source Code Pro", monospace;
  width: 100%;
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 2px 2px #004d40;
}
#trivia {
  position: relative;
  width: 80%;
  margin: auto;
}

.trivia {
  position: absolute;
  text-align: center;
  font-size: 36px;
  font-family: "Source Code Pro", monospace;
  text-shadow: 2px 2px #004d40;
  width: 100%;
  margin-top: 35%;
  margin-left: auto;
  margin-right: auto;
}
#gifs {
  position: relative;
  width: 80%;
  margin: auto;
}

.gifs {
  position: absolute;
  text-align: center;
  font-size: 36px;
  text-shadow: 2px 2px #004d40;
  font-family: "Source Code Pro", monospace;
  width: 100%;
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
}
#liriApp {
  position: relative;
  width: 80%;
  margin: auto;
}

.liri {
  position: absolute;
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 2px #004d40;
  font-family: "Source Code Pro", monospace;
  width: 100%;
  margin-top: 35%;
  margin-left: auto;
  margin-right: auto;
}
#bamazonApp {
  position: relative;

  width: 80%;
  margin: auto;
}

.bamazon {
  position: absolute;
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 2px #004d40;
  font-family: "Source Code Pro", monospace;
  width: 100%;
  margin-top: 35%;
  margin-left: auto;
  margin-right: auto;
}
#friendFinder {
  position: relative;
  width: 80%;
  margin: auto;
}

.friendFinder {
  position: absolute;
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 2px #004d40;
  font-family: "Source Code Pro", monospace;
  width: 100%;
  margin-top: 30%;
  margin-left: auto;
  margin-right: auto;
}
#projectImg {
  margin-top: 7px;
}
/* <!-----------CONTACT---------------> */
.card,
.horizontal {
  align-items: center;
}
.card {
  width: 100%;
  
}

h3 {
  display: inline-block;
  padding: 10px;
}
.card
  .card-action
  a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #009688;
}
.card .card-image img{
  border: none;
}
li img{
  border: none;
  border-radius: 10;
}